a {
	color: #453f44;
	text-decoration: none;
}

body {
	font-family: 'Libre Baskerville', serif;
}

div {
	//border: 1px solid #bebebe;
}

header {
	margin: auto;
	text-align: center;
	width: 1024px;
}

.center {
	margin: 0 auto !important;
}

.filter {
	bottom: 50px;
	position: relative;

}

.item {
	background-repeat: no-repeat;
	background-size: auto 300px;
	background-position: left bottom;
	border-bottom: 1px solid #dcdcdc;
	cursor: pointer;
	height: 300px;
	padding-top: 10px;
	text-align: center;
	transition-duration: 0.5s;
	transition-property: all;
	z-index: 5;
}

.item:hover {
	background-position: center bottom;
	background-size: auto 400px;
	height: 450px;
}

.item-title {
	font-family: 'Cinzel', serif;
	font-size: 40px;
	height: 50px;
	margin: 0 0 auto auto;
	text-align: center;
	transition-duration: 0.3s;
	transition-property: all;
	width: 50%;
}

.item-description {
	font-family: 'Libre Baskerville', serif;
	height: 250px;
	line-height: 1.5;
	margin: 30px 0 auto auto;
	text-align: left;
	transition-duration: 0.5s;
	transition-property: all;
	width: 50%;
}

.logo {
	position: relative;
	top: 10px;
	width: 120px;
}

.hidden {
	opacity: 0;
}

.horisontal-bar {
	border-bottom: 1px solid #453f44;
	margin: 10px auto 5px;
	width: 650px;
}

.thin-title {
	background: rgba(255, 255, 255, 0.85);
	font-family: 'Cinzel', serif;
	font-size: 36px !important;
	margin: auto;
	position: fixed;
	top: -110px;
	transition-duration: 0.3s;
	transition-property: all;
	width: 1024px;
	z-index: 10;
}

.thin-title-shown {
	top: 0px;
}

.thin-title > a > span {
	border-bottom: 1px solid;
}

.thin-title > a > span > .logo {
	margin: auto 10px 5px 10px;
	width: 60px;
}

.thin-menu > a  {
	display: inline-block;
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	margin: 10px 10px;
	position: relative;
}

.title {
	color: #453f44;
	cursor: default;
	font-family: 'Cinzel', serif;
	font-size: 76px;
	font-weight: 100;
	text-align: center;
}

.title > span {
	display: block;
	font-size: 22px;
	font-family: 'Libre Baskerville', serif;
	margin-top: 10px;
}

.top-menu {
	cursor: default;
	margin-bottom: 50px;
}

.top-menu > a {
	bottom: 40px;
	display: inline-block;
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	margin: 10px 10px;
	position: relative;
}

.top-menu > a:after,
.thin-menu > a:after {
	background: #453f44;
	content: '';
	display: block;
	height: 1px;
	transform: scaleX(0);
	transition: 0.1s linear;
}

.top-menu > a:hover:after,
.top-menu > a:focus:after,
.thin-menu > a:hover:after,
.thin-menu > a:focus:after {
	transform: scaleX(1);
}

#main-block {
	margin: auto;
	max-width: 1024px;
	transition-duration: 0.2s;
	transition-property: all;
}